.root {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #212121;
}

.header {
  /* padding: 100px; */
  border-bottom: 1px solid #212121;
  width: 100%;
}

.header div {
  padding: 0 10px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border: 1px solid #212121;
  border-radius: 20px;
  width: 500px;
}

.contact {
  display: flex;
  align-items: center;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 480px;
  padding: 5px;
  overflow-y: auto;
  height: 700px;
}
